@import url(../fonts/SourceSansPro/SourceSansProRegular/stylesheet.css);
@import url(../fonts/FontAwesome/stylesheet.css);

body {
	font:16px/16px SourceSansPro-Regular;
}

#content {
	background: linear-gradient(rgba(255, 255, 255, 0) 30%, rgb(255, 255, 255) 100%);
	height: 100vh;
}

.navbar {
	margin: 0;
	border-radius: 0;
}

.navbar-inverse {
	background-color: #494949;
	border-color: #080808;
}

.navbar-inverse .navbar-nav>li>a {
	color: #D8D8D8;
}

.container {

}

#users {

}

.page-login {
	background-repeat: no-repeat;
	background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));
	height: 100vh;
	background: url('/static/images/back.png');
}

ul {
	padding: 0;
}

legend {
	border: 0;
	margin-top: 10px;
}

.well {
	border-radius: 0;
	border: 0;
}

.status-message {
	padding: 0px 0px;
	margin-top: 3px
}

.status-message-2 {
	margin-top: 20px;
}

.btn-lg, .btn-group-lg>.btn {
	padding: 5px 10px;
	font-size: 15px;
	border-radius: 0;
	border: 0;
}

.btn.btn-danger {
	color: #ffffff;
	background-color: #D9534F;
	border-color: #B92C28 #B92C28 #B92C28;
	border: 0;
	border-radius: 0;
}
.btn.btn-danger:hover {
	color: #ffffff;
	background-color: #C12E2A;
	border-color: #B92C28 #B92C28 #B92C28;
}

.alert {
	margin: 0;
}

#map-canvas {
	height: 388px;
}

.form-main-title {
	padding: 0;
}

.input-title {
	display: block;
}

#input-ramp-coords-lng {
	width: 49%;
	float: right;
}
#input-ramp-coords-lat {
	width: 49%;
}

#get-location {
	height: 34px;
}

/*------------LOGIN SCREEN---------------*/
.card-container.card {
	max-width: 350px;
	padding: 40px 40px;
}

.btn {
	font-weight: 700;
	height: 36px;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	cursor: default;
}

/*
 * Card component
 */
 .card {
	 background-color: #F7F7F7;
	 /* just in case there no content*/
	 padding: 20px 25px 30px;
	 margin: 0 auto 25px;
	 margin-top: 50px;
	 /* shadows and rounded borders */
	 -moz-border-radius: 2px;
	 -webkit-border-radius: 2px;
	 border-radius: 2px;
	 -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	 -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	 box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
 }

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    /*background-color: #4d90fe; */
    background-color: rgb(104, 145, 162);
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: rgb(12, 97, 33);
}

.forgot-password {
    color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: rgb(12, 97, 33);
}
/*------------end of LOGIN SCREEN---------------*/

.danger-msg-red {
	text-align: center;
	color: rgb(205, 101, 101);
	margin-top: 40px;
	font: 19px SourceSansPro-Regular;
}
